@import url("../../constants.css");

.text {
    color: var(--color-grey);
    text-decoration:none;
}

.textBold {
    font-weight: bold;
}

.textLink {
    color: var(--primary-color);
    text-decoration: underline;
}
.textLink:hover {
    cursor: pointer;
}

.textDescribe {
    font-size: small;
    font-weight: 500;
}