:root {
    --primary-color: #00aaff;
    --color-white: white;
    --color-black: black;
    --color-grey: grey;
    --primary-background-color: white;
    --page-background-color: #f0faff;
    --primary-font: "Lucida Handwriting";
    --secondary-font: "Arial"
}