:root {
    --primary-color: #00aaff;
    --secondary-color: rgb(42, 88, 131);
    --color-white: white;
    --color-black: black;
    --color-grey: grey;
    --color-dark-blue: rgb(71, 71, 134);
    --primary-background-color: white;
    --page-background-color: #f0faff;
    --primary-font: "Lucida Handwriting";
    --secondary-font: "Arial";
    --overlay-opacity: 0.5;
}