@import url("./constants.css");

* {
    margin: 0;
    padding: 0;
    /* font-weight: bold; */
    font-family: var(--secondary-font);
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
  }

.App {
    background-color: var(--page-background-color);
    min-height: 100vh;
}