.eventDetailSection {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.eventDetailSectionSameLine {
    display: inline-block;
}

.eventDetailSectionHeader {
    font-size: larger;
}

.eventDetailSectionContent {
    padding: 10px 15px;
}

.giftValueSeparator {
    margin-left: 15px;
    margin-right: 15px;
}