.eventListCardLink {
    text-decoration: none;
}

.eventListCardContainer {
    display: block;
    width: 100%;
    height: 110px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.eventListCard {
    width: 100%;
    height: 100%;
}

.eventListContent {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.eventListTitle {
    font-size: large;
}

.addIconContainer {
    text-align: center;
    margin-top: 15px;
}

.addIcon {
    color: var(--color-grey);
    font-size: xx-large;
}

.addText {
    color: var(--color-grey);
}