@import url("../../constants.css");

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: var(--color-grey);
    opacity: var(--overlay-opacity);
}

.modalBackground.hideModal {
    display: none;
}

.modalCardContainer {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1010;
    transition-duration: 500ms;
}

.modalCardContainer.hideModal {
    top: -100vh;
}

.modalCard {
    text-align: center;
}