@import url("../constants.css");

.header {
    /* height: 50px; */
    background-color: var(--secondary-color);
    border-bottom: var(--primary-color) solid 5px;
    padding-top: 20px;
    padding-bottom: 15px;
    /* -webkit-box-shadow: 0 8px 16px -6px black;
    -moz-box-shadow: 0 8px 16px -6px black; */
	box-shadow: 0 8px 16px -6px black;
    color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    font-family: var(--secondary-font);
}

.wideHeader {
    width: 90%;
    margin: auto;
    display: flex;
}

.headerPart {
    display: inline-block;
    /* text-align: center; */
}

.headerPart.center {
    text-align: center;
    flex: 20;
}

.headerPart.left, .headerPart.right {
    flex: 5;
}

.headerPart.left {
    text-align: left;
}

.headerPart.right {
    text-align: right;
}

.headerTitle {
    font-family: var(--primary-font);
    text-decoration: underline;
}

.menuButton {
    color: var(--color-white);
    font-size: large;
    text-decoration: none;
    border-radius: 10px;
    transition-duration: 200ms;
}

.menuButton.narrow {
    padding: 8px 10px;
}

.menuButton.medium {
    padding: 8px 20px;
    margin-left: 3px;
    margin-right: 3px;
}

.menuButton.onPage {
    background-color: var(--primary-color);
}

.menuButton:hover {
    background-color: var(--button-hover-color);
}

.narrowMenuContainer {
    width: 80%;
    margin: auto;
}

.narrowHeaderContainer {
    width: 100%;
    font-size: large;
    display: flex;
}

.headerPart.left.narrow {
    flex: 10;
}

.headerPart.right.narrow {
    flex: 5;
}

.menuToggleButton:hover {
    cursor: pointer;
}

.narrowHeaderButtonContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menuButton.wide {
    display: block;
    border-radius: 5px;
    padding: 10px 15px;
}

.narrowMenuBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 495;
    background-color: var(--color-grey);
    opacity: var(--overlay-opacity);
}

.contentWrapper {
    padding-top: 125px;
    padding-bottom: 125px;
}

@media (max-width: 768px) {
    .wideHeader {
        display: none;
    }
    .contentWrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 769px) {
    .narrowHeader, .narrowMenuBackground {
        display: none;
    }
    .contentWrapper {
        padding-left: 15%;
        padding-right: 15%;
    }
}