.fieldFullWidth{
    width: 100%
}

.fieldShort{
    width: 80px;
}

.validatedFieldError{
    color: rgb(197, 0, 0);
    font-weight: lighter;
    font-size: small;
    margin-top: 3px;
    white-space: pre-wrap;
    padding: 0 10px;
}